{% extends "base_page.html" %}

{% block page-title %}
Добавление термина
{% endblock %}

{% block page-lead %}
Заполните форму, чтобы добавить новый латинский термин в Ваш персональный словарь. 
{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        <div class="row px-5 py-2 border-bottom">
            <h3 class="latin-heading">Латинский термин</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6 mb-3">
                <label for="latin_term" class="form-label">Термин на латыни:</label>
                <input type="text" class="form-control" name="latin_term" id="latin_term" placeholder="e.g. Quantum" required>
                <div class="form-text">Напишите термин латинскими буквами</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="transcription_term" class="form-label">Транскрипция:</label>
                <input type="text" class="form-control" name="transcription_term" id="transcription_term" placeholder="e.g. [квантум]" required>
                <div class="form-text">Фонетическая транскрипция на русском</div>
            </div>
        </div>

        <div class="row px-5 py-2">
            <div class="col-md-6 mb-3">
                <label for="translation_term" class="form-label">Перевод:</label>
                <input type="text" class="form-control" name="translation_term" id="translation_term" placeholder="e.g. квантовый" required>
                <div class="form-text">Основное значение термина</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="category_term" class="form-label">Категория:</label>
                <select class="form-select" name="category_term" id="category_term" required>
                    <option value="" selected disabled>Выберите категорию</option>
                    <option value="Физика">Физика</option>
                    <option value="Математика">Математика</option>
                    <option value="Медицина">Медицина</option>
                    <option value="Философия">Философия</option>
                    <option value="Другое">Другое</option>
                </select>
            </div>
        </div>


        <!-- Кнопка отправки -->
        <div class="row px-5 py-4">
            <div class="col-md-12 d-grid">
                <button type="submit" class="btn btn-latin-outline px-4 py-2 rounded-pill" formaction="/send_term">
                    Добавить термин
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}